body {
    font-family: 'Cursive', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #EAF7EA;  
    color: #333;
}

header {
    text-align: center;
    background-color: #3D5300; 
    padding: 20px;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #C1CFA1; 
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ABBA7C; 
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-image: url(./bk.jpg);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero h2 {
    font-size: 2.5em;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    border-radius: 8px;
}

.product h3 {
    font-size: 1.5em;
    color: #47663B;
}

.product p {
    margin: 10px 0;
}

.product button {
    background-color: #ABBA7C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #809D3C;
}

footer {
    background-color: #3D5300; 
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
